.featuredHighlightPanel-container {
    .swiper-container {
        width: 400px;

        // height: 600px;
   
    }
}

.featuredHighlightPanel-container {
    text-align: left;
    width: 100vw;
    display: none;

    &.featured-highlight-expanded {
        display: block;

        // height: 1000px; //change
   
    }

    // height: 600px; //change
    @media (min-width: $breakpoint-tablet) {
        height: 600px;
        width: 400px;
        position: absolute;
        left: 0;
        bottom: 0;

        // transform: translate(0, 100%);
        top: 50%;

        // transform: translate(-720px, -50%);
        transform: translate(0, -50%);
        z-index: 50;
        display: block;
    }
}

.featuredPanel-container {
    height: 100%;

    // width: 100%;
    // height: 600px; //change

    @media (min-width: $breakpoint-tablet) {
        // height: 600px;
        // max-width: 100%;
        background: #f2733d;
    }
}

.featuredPanel-content-background {
    // width: 100vw;
    background: #f2733d;

    @media (min-width: $breakpoint-tablet) {
        background: none;
        height: 600px;
    }

    animation: fade-in-content 0.45s ease-out both;
}

@keyframes fade-in-content {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.featuredPanel-highlight-image-container {
    display: flex;
    justify-content: center;
}

.featuredPanel-highlight-image {
    @media (min-width: $breakpoint-tablet) {
        display: none;
    }

    display: flex;
    justify-content: center;

    // flex-direction: column;
    a {
        display: flex;
        align-items: flex-start;
        justify-content: center;

        img {
            // width: 100%;
            // max-width: 100%;
            // height: auto;
            // left: 50%;
            // transform: translate(-50%, 0);

            height: 100%;
            width: auto;
        }
    }

    overflow: hidden;
    height: 500px;
    max-height: 500px;
    max-width: 100%;

    &.featured-highlight-expanded {
        animation: expand-out-hightlight-img 250ms ease-out both;
    }
}

@keyframes expand-out-hightlight-img {
    0% {
        max-height: 400px;
        max-width: 68%;
    }

    100% {
        max-height: 500px;
        max-width: 100%;
    }
}

.featuredPanelContent {
    position: relative;
    padding: 60px 26px 0px 25px;
    max-width: 375px;
    margin: auto;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    background: #f2733d;

    @media (min-width: $breakpoint-tablet) {
        justify-content: space-between;
        overflow: hidden;
    }

    // .featuredPanelContent-text {
    //     @media (min-width: $breakpoint-tablet) {
    //          min-height: 210px;
    //          overflow-y: hidden;
    //     }
    // }

    h1 {
        font-size: 1.875rem;
        font-weight: bold;
        line-height: 2rem;
        margin-top: 0;
        margin-bottom: 25px;
    }

    p {
        margin: 0 0 25px 0;
    }

    .otherHighlights-container {
        width: 100%;
        position: relative;
    }

    .otherHighlights {
        width: 100%;
        margin-top: 40px;
        margin-bottom: 40px;

        @media (min-width: $breakpoint-tablet) {
            margin-top: 20px;
            margin-bottom: 45px;
        }

        h4 {
            margin: 0;
            margin-bottom: 15px;
            line-height: 0.9375rem;
        }

        p {
            margin-block-start: 0 !important;
        }

        .highlightImages {
            display: flex;
            flex-wrap: wrap;

            .highlightThumbnail {
                cursor: pointer;
                width: 100%;
                max-width: calc(33.33333% - 5px);
                margin-right: 5px;
                margin-bottom: 5px;

                &:nth-child(3), &:nth-child(6), &:nth-child(9) {
                    margin-right: 0;
                }

                &:hover {
                    outline: 2px solid white;
                    outline-offset: -2px;
                }

                &:active {
                    outline: 2px solid white;
                    outline-offset: -2px;
                }
            }

            .highlightThumbnailImage {
                width: 100%;
                max-width: 100%;
                height: auto;
                display: block;
            }
        }
    }
}

@media (min-width: $breakpoint-tablet) {
    .featuredPanelContent {
        padding: 60px 40px 0px 50px;
        max-width: 375px;
        margin: 0;

        .otherHighlights {
            width: 280px;

            .highlightImages {
                // height: 186px;
                width: 280px;
            }
        }
    }
}
